{% extends "app1/base.html" %}
{% block content %}
<style type="text/css">
  img {
  width: 80%;
}
</style>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h3 class="text-center">
        Please choose the Movie which you prefer.
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <a href="#a" target="_blank"><img src="https://via.placeholder.com/700x1000" alt="temp image"></a>
      <h3>
        'Movie Name'
      </h3>
    </div>
    <div class="col-md-4">
      <a href="#b" target="_blank"><img src="https://via.placeholder.com/700x1000" alt="temp image"></a>
      <h3>
        'Movie Name'
      </h3>
    </div>
    <div class="col-md-4">
      <a href="#c" target="_blank"><img src="https://via.placeholder.com/700x1000" alt="temp image"></a>
      <h3>
        'Movie Name'
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <a href="#d" target="_blank"><img src="https://via.placeholder.com/700x1000" alt="temp image"></a>
      <h3>
        'Movie Name'
      </h3>
    </div>
    <div class="col-md-4">
      <a href="#e" target="_blank"><img src="https://via.placeholder.com/700x1000" alt="temp image"></a>
      <h3>
        'Movie Name'
      </h3>
    </div>
    <div class="col-md-4">
      <a href="#f" target="_blank"><img src="https://via.placeholder.com/700x1000" alt="temp image"></a>
      <h3>
        'Movie Name'
      </h3>
    </div>
  </div>
</div>
{% endblock content %}