{% extends "app1/base.html" %}
{% block content %}
<h1> Welcome to my FYP Movie Project!<h3> Please read below to get started</h3></h1>

    <article class="media content-section">
      To get started please register a new account, this information will be stored until i have completed my course and then will be deleted forever. The purpose of logging in to an account is to provide the best experience for you. Thank you for participating in my FYP.
      <br><br>
      After you log in, a new page will become available, after visiting this page, you are able to search for a movie which you have watched before, then the AI will do it's best to suggest a movie which you will enjoy based on the generes you have chosen. Due to the nature of the project and the time frame we have, the list of movies is limited and may not predict a movie which is 100% accurate.
    </article>
    
    <h1> About me </h1>
    <article class="media content-section">
      <br><br>
      <img class="rounded-circle account-img" src="/media/aboutme.jpg" width="25%" height="25%" alt="Picture of me">
      My name is James, I am a final year Software Engineering undergraduate with experience in languages such as C#, HTML, CSS, PHP, Java, and C++. I also have experience working with SQL and JSF to create and update databases. I have developed projects as part of my studies, such as a concurrent application written in C# and my final year project which is an Artificial Intelligence/machine learning website that recommends multi-media based on my user's opinions. 

      <br><br>
      Starting soon i will be joining the team at Kindertons accident management as a graduate software developer.
    </article>
          <br><br> 
    <a href="https://www.linkedin.com/in/jamesfrost190/" target="_blank"><img src="/media/logo/inLogo.png" alt="LinkedIn logo" width="10%" height="10%"></a>
    <a href="https://github.com/JamesFrostSoftware" target="_blank"><img src="/media/logo/ghLogo.png" alt="GitHub logo"width="10%" height="10%"></a> 
{% endblock content %}